.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 2rem;
}

.upload-boxes-parent {
  display: flex;
  flex-wrap: nowrap; /* Prevent flex items from wrapping */
  justify-content: flex-start; /* Start aligning items from the left */
  align-items: center;
  height: 60vh;
  gap: 2rem;
  overflow-y: hidden; /* Hide vertical overflow */
  overflow-x: auto;   /* Enable horizontal scroll */
  margin-bottom: 3rem;
  width: 100%;        /* Use full width */
  max-width: 100vw;   /* Prevent it from exceeding the viewport width */
  box-sizing: border-box; /* Include padding and border in width calculations */
}

.upload-box {
  width: 30rem;
  height: 30rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  cursor: pointer;
  min-width: 18rem; /* Ensure each box maintains its size */
  flex-shrink: 0;   /* Prevent boxes from shrinking below min-width */
}
.upload-text{
  font-size: 2rem;
}

.fit-object{
  object-fit: cover;
}
.bg-red{
  background-color: red;
}
.bg-orange{
  background-color: orange;
}
.bg-blue{
  background-color: #082ED0;
}
.bg-yellow{
  background-color: yellow;
}
.border-red{
  border:10px solid red;
}
.border-orange{
  border:10px solid orange;
}
.border-blue{
  border:10px solid #082ED0;
}
.border-yellow{
  border: 10px solid yellow;
}

/* Styling for error  */
.error-message {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ff000055;
  color: red;
  text-align: center;
  padding: 5px;
}
  /* styling for individual upload box ends */

  .statement {
    padding: 0 15px;
    text-wrap: wrap;
    font-size: 2rem;
  
  }
  
  /* .scroll {
    overflow-x: auto; Enable horizontal scrolling
    /* overflow-y: hidden; /* Hide vertical overflow */
  
  
  /* Optional: Set a fixed width for the .statement to ensure scrolling works properly */
  .statement h2 {
    display: inline-block; /* Allow the h2 to be scrolled */
  }
  .margin-bottom-2{
    margin-bottom: 2rem;
  }
  



  /* Adjust the media query to ensure proper styling on smaller screens */
  @media (max-width: 1200px) {
    .statement {
      width: 100%; /* Set the width to 100% on smaller screens */
      overflow-x: auto; /* Enable horizontal scrolling on smaller screens */
    }
  }

