.App{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 2rem;

  
}
.upload-boxes-parent{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  gap: 2rem;
  overflow-y: hidden;
  overflow-x: scroll;
  margin-bottom: 3rem;
  object-fit: cover;
  width: 100%;
  
}
/* styling for individual upload box starts */
.upload-box{
  width: 18rem;
  height: 20rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  cursor: pointer;
  
}
.fit-object{
  object-fit: cover;
}
.bg-red{
  background-color: red;
}
.bg-orange{
  background-color: orange;
}
.bg-blue{
  background-color: #082ED0;
}
.bg-yellow{
  background-color: yellow;
}
.border-red{
  border:10px solid red;
}
.border-orange{
  border:10px solid orange;
}
.border-blue{
  border:10px solid #082ED0;
}
.border-yellow{
  border: 10px solid yellow;
}

/* Styling for error  */
.error-message {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ff000055;
  color: red;
  text-align: center;
  padding: 5px;
}
  /* styling for individual upload box ends */

  /* styling for statement */
  .scroll{
    overflow-x: scroll;
  }
  .statement{
    padding: 0 15px;
  }
@media (max-width:1200px) {
  
}

