*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  /* 62.5% of 16px user agent font size is 10px */
  font-size: 62.5%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Styling for payment button */
.green-btn{
  padding: 5px;
  border-radius: 8px;
  /* 8px = .8rem */
  all: unset;
  border: 2px solid green;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: green;
  color: white;
  cursor: pointer;
  border-radius: 5px ;
  padding: 5px 4rem;
  width: 35vw;
  font-size: 2rem;
}
.payment-modal{
  display:flex;
  flex-direction: column;
}

.close-payment{
  display: inline-block;
}

